#############################################################################################
# extension directory



#############################################################################################
# backend directory

backend/.env
backend/node_modules/