#############################################################################################
# extension directory



#############################################################################################
# backend directory

*/.env
*/node_modules/